* {
  margin: 0;
  padding: 0;
}
body {
  background: radial-gradient(#ece263, #F57F17);
  font-family: 'Ubuntu', sans-serif;
  display: flex;
}

.wrapper {
 width: 700px;
 margin: 20px auto;
 background: white;
 position: relative;
 border-radius: 12px;
 box-shadow: 1px 19px 34px 0px rgba(15,14,15,0.75);
 -moz-box-shadow: 1px 19px 34px 0px rgba(15,14,15,0.75);;;;
}
h1 {
  color: #F57F17;
  text-align: center;
  font-size: 50px;
  margin: 20px;
}
.list {
  list-style: none;
  width: 72%;
  height: auto;
  display: inline-block;
  padding: 0 14%;;;

}


.controls {
  display: inline-block;
  width: 72%;
  padding: 6% 14%;

}
.item-value {
  width: 71.5%;
  height: 30px;
  border-radius: 10px;
  border: 1px solid #e0dede;
  padding: 4px 13px;
  margin: 10px 5px;
  font-size: 18px;

}

.item-add {
  width: 100px;
  height: 38px;
  border: 0;
  color: white;
  background: #f3982a;
  border-radius: 5px;

}
.item-add:hover {
  background: #D37F18;
}

.list__item {
  height: 25px;
  border: 1px solid #e0dede;
  margin: 6px;
  font-size: 20px;
  padding: 10px;
  color: #635e5e;
  border-radius: 10px;
  position: relative;;
  transition: all 300ms ease-in;

}

.list__item:hover {
  border: 1px solid #F57F17;
  background: rgba(125, 150, 12, 0.1);
}

.list__item:hover .item-edit,
.list__item:hover .item-delete {
  display: inline-block;
} 

.list__item--edit {
  position: relative;

}

.newInput {
  font-size: 20px;
  color: black;
  padding: 10px 12px;
  border-radius: 10px;
  margin: 0 5px;
  border: 1px solid #e0dede;

}

.newInput:focus, 
.item-value:focus, 
.item-add:focus {
  border: 1px solid #F57F17;
  outline: none;
}

.item-edit {
  width: 10px;
  height: 10px;
  display: none;
  position: absolute;
  right: 14%;
  background: radial-gradient(#f9fb3b, #f57f17);
  border-radius: 5px;
  top: 15px;
}
.item-delete {
  width: 10px;
  height: 10px;
  display: none;
  position: absolute;
  right: 10%;
  top: 15px;
  background: radial-gradient(#f79090, #f9000b);
  border-radius: 5px;;
}
.apply {
  width: 10px;
  height: 10px;
  display: inline-block;
  background: radial-gradient(#6BFB8D, #339629);
  border-radius: 5px;
  position: absolute;
  top: 17px;
  left: 56%;
}
